# JWT Secret Key (Production'da güçlü bir key kullanın)
JWT_SECRET=L4jRYvriAczQJnCVWRy9KdNNOFBrauh0L9WDMWLOeUA=

# Supabase Database
SUPABASE_URL=https://gordevxdjsinvsxqysru.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdvcmRldnhkanNpbnZzeHF5c3J1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAwMjYxMDgsImV4cCI6MjA3NTYwMjEwOH0.zw9DKCcVn_7sbrvTGNZ14bhfohPhi2L2Mk3NoOIZ0v8

# Google OAuth
GOOGLE_CLIENT_ID=782750767221-spc15g1p21dho3qo7ceicb8i0hqoadfj.apps.googleusercontent.com
REACT_APP_GOOGLE_CLIENT_ID=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

# GitHub OAuth
GITHUB_CLIENT_ID=Ov23liQTGht4XBXnaThw
GITHUB_CLIENT_SECRET=713d209ad3572dc83baad171f9fdd9ee9dfb97f0
REACT_APP_GITHUB_CLIENT_ID=Ov23liQTGht4XBXnaThw

# Email Service (Production için)
EMAIL_SERVICE_API_KEY=re_ck9ENPie_Gx6XG8BKcj7u4EiH1vcpzL2B

# AI & News APIs
